.navbar-bg {
  background-color: #fbfbfd !important;
}
.nav-logo > img {
  /* width: 120px; */
  /* height: 120px; */
  object-fit: contain;
  margin: 0 30px;
}

.navbar-nav {
  gap: 10px;
  display: flex;
  /* margin: 0 auto !important; */
}

.nav-link {
  color: #9b9bae;
}
